body{

margin:0;
font-family:Arial;
background:#FF8000;
color:white;

}

header{

background:#2F4015;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;

}

nav a{

margin:10px;
color:white;
text-decoration:none;
font-weight:bold;

}

.hero{

text-align:center;
padding:80px 20px;

}

.btn{

background:black;
padding:12px 20px;
margin:10px;
border-radius:6px;
color:white;
text-decoration:none;

}

.section{

background:#2F4015;
margin:30px;
padding:30px;
border-radius:10px;

}

.tabs button{

padding:10px;
margin:5px;
border:none;
cursor:pointer;

}

.tab{

display:none;

}

.active{

display:block;

}

.galeria{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:15px;

}

.evento{

width:100%;
border-radius:8px;
cursor:pointer;

}

footer{

background:#2F4015;
text-align:center;
padding:20px;

}

.whatsapp{

position:fixed;
bottom:20px;
right:20px;
font-size:30px;
background:#25D366;
padding:15px;
border-radius:50%;
color:white;
text-decoration:none;

}